<p id="notice"><%= notice %></p>


<div class="">
	<table>
		<tr class="white-cell">
			<td class="white-cell">
				Name:
			</td>
			<td class="white-cell">
				<%= @user.name %>
			</td>
		</tr>
		<tr>
			<td>
				Email: 
			</td>
			<td>
				<%= @user.email %>
			</td>
		</tr>

	</table>


	<div class="back-forward-container">
		<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default btn-sm" %>
		<%= link_to 'Back', users_path, :class => "btn btn-default btn-sm" %>
	</div>
</div>

<div class="blog-container">
	<%= link_to "New Blog", new_blog_path, :class => "btn btn-primary" %>
	<% if !@user.blogs.empty? %>
		<% @user.blogs.reverse.each do |blog| %>
			<div class="blog">
				<p>
					<%= blog.created_at %>
				</p>
				<p>
					<%= blog.entry %>
				</p>
				<%= link_to "Edit", edit_blog_path(blog), :class => "btn btn-default btn-sm" %>
				<%= link_to "Delete", blog, :class => "btn btn-default btn-sm", :method => :delete %>
			</div>
		<% end %>
	<% end %>
</div>
