<p id="notice"><%= notice %></p>

<table>
	<tr class="white-cell">
		<td class="white-cell">
			Name:
		</td>
		<td class="white-cell">
			<%= @user.name %>
		</td>
	</tr>
	<tr>
		<td>
			Email: 
		</td>
		<td>
			<%= @user.email %>
		</td>
	</tr>

</table>


<div class="back-forward-container">
	<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default btn-sm" %>
	<%= link_to 'Back', users_path, :class => "btn btn-default btn-sm" %>
</div>
